// borrowed from h5bp and converted to mixin
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css#L124

@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin hide-text {
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}