{% extends "views/_guide/guide.html" %}
{% import  "views/_guide/guide.html" as guide %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ webRoot }}guide/vendor/prismjs/prism.css">
{% endblock %}

{% block maincontent %}

<main class="app-guide-main">

	{% if (mode == 'distribution') %}
	<p>
		This front-end guide contains all the <a href="#section-views">views</a>,
		(pages) which will be served to the end user, as well as all
		<a href="#section-components">components</a> and <a href="#section-assets">assets</a>
		which allow back-end developers to integrate these views into the application.
	</p>
	{% endif %}

	<section id="section-app" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			App {{ guide.linkSection('app') }}
		</h2>
		<ul>
			{% if (mode == 'distribution') %}
			<li>
				<a href="app.zip">Download as zip</a> -
				includes all views, components &amp; assets.
			</li>
			{% endif %}
			<li>
				<a href="guide/style-guide.html">Style guide</a> -
				all primary style rules and elements.
			</li>
		</ul>
	</section>

	<section id="section-views" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Views {{ guide.linkSection('views') }}
		</h2>
		<p>
			Each view is unique and compiled out of one or more components.
		</p>
		<ul>
			{% for view in views %}
			<li>
				<a href="{{ 'modules/views/' + view + '/' + view + '.html' }}">
					{{ view | replace("-"," ") | capitalize }}
				</a>
				{% if (mode == 'distribution') %}
				<a class="app-guide-icon app-guide-icon-tags"
				   href="{{ 'modules/views/' + view + '/' + view + '.html?debug' }}"></a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		<p>
			All views are available in <code class="language-bash">modules/views/</code>.<br/>
			Select the tag icon <span class="app-guide-icon app-guide-icon-tags"></span>
			behind a view to see the view with annotated components.
		</p>
	</section>


	<section id="section-components" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Components {{ guide.linkSection('components') }}
		</h2>
		<p>
			Components are your site's or app's building blocks. Each component has
			its own markup (structure), presentation and behavior. To keep each component
			self-contained each is wrapped in its own element with the component's name
			in camelcase as its namespace. For instance 'site header' becomes 'siteHeader'.
		</p>
		<ul>
			{% for component in components %}
			<li>
				<a href="{{ 'modules/components/' + component + '/preview.html' }}">
					{{ component | replace("-"," ") | capitalize }}
				</a>
			</li>
			{% endfor %}
		</ul>
		<p>
			All components are available in <code class="language-bash">modules/components/</code>.
		</p>
	</section>

	{% if (mode == 'distribution') %}
	<section id="section-assets" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Assets {{ guide.linkSection('assets') }}
		</h2>
		<h3 id="section-styles" class="app-guide-section-title">
			Styles {{ guide.linkSection('styles') }}
		</h3>
		<p>
			All stylesheets of all views, components and common styles are combined and minified into
			<code class="language-bash">assets/style/main.css</code>. Please make sure to load the
			stylesheets in the <code class="language-markup">&lt;head&gt;</code>.
		</p>
		<h3 id="section-scripts" class="app-guide-section-title">
			Scripts {{ guide.linkSection('scripts') }}
		</h3>
		<p>
			Likewise all scripts of all views, components and common scripts are combined and minified into
			<code class="language-bash">assets/scripts/main.js</code>. Vendor scripts are combined
			separately into <code class="language-bash">assets/scripts/vendor.js</code>. Minification of
			vendor scripts is left to the vendors and is not done by us. You only need to include these
			combined files in the production environment. Please make sure to include the scripts  (vendor.js
			then main.js) just before the closing <code class="language-markup">&lt;/body&gt;</code> tag.
			This is because loading and parsing scripts blocks everything else and so should not be done
			before the DOM is loaded.
		</p>
		<h3 id="section-fonts" class="app-guide-section-title">
			Fonts {{ guide.linkSection('fonts') }}
		</h3>
		<p>
			All fonts are available in <code class="language-bash">assets/fonts/</code>.
		</p>
		<h3 id="section-images" class="app-guide-section-title">
			Images {{ guide.linkSection('images') }}
		</h3>
		<p>
			All global images which are part of the layout are optimized and available in
			<code class="language-bash">assets/images/</code>. Images only meant as placeholders
			are available in <code class="language-bash">stubs/</code> and should be replaced by real content.
		</p>
	</section>
	{% endif %}


</main>
{% endblock %}
