@import 'variables';
@import 'helpers';

.app-guide-main {
    .section-header {
        z-index: 0;

        &:before {
            font-size: 50px;
            top: initial;
        }
        .section-title, &:before, &:after {
            font-size: 50px;
            top: initial;
        }
        &:after {
            top: 1em;
        }
    }
}